$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);
$lightOrange: hsl(14, 88%, 65%);
$darkGreyishBlue: hsl(240, 6%, 50%);
$veryDarkGreyishBlue: hsl(237, 12%, 33%);
$lightGreyishBlue: hsl(240, 5%, 91%);